 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


//fonts

$cabin: 'Cabin', sans-serif;
$beanie: 'Reenie Beanie', cursive;
$pacifico: 'Pacifico', cursive;
$oxygen: 'Oxygen', sans-serif;
$dancing: 'Dancing Script', cursive;
$raleway: 'Raleway', sans-serif;
$daughter: 'Architects Daughter', cursive;


// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


html,
body,
.wrapper
{
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: $beanie;
  color: rgba(255,255,255,0);
  font-size: 11.0vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  -webkit-mask-image: url('../images/mask_image2.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0, .5));
  animation: move 3s .4s forwards;
}

.reveal {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  color: rgba(255,255,255,0);
  -webkit-mask-image: none;
  animation: none;
  padding-top: 13%;
  transition: color 1s .4s linear;

  &:hover {
    color: rgba(255,255,255,100);
  }
}

.wrapper {
  background-image: url("../images/Atl_background2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}


@keyframes move {
  100% {
    padding-top: 13%;
    color: rgba(255,255,255,100);
  }
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  background-color: blue;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
